:root {
  --radius: 0.625rem;
  --background: oklch(98.205% 0.004 91.461);
  --foreground: #2a1906;
  --card: #faf9f6;
  --card-foreground: #3e250a;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #e9d226;
  --primary-contrast: #dabb18;
  --primary-foreground: #3e250a;
  --secondary: #f0f0ec;
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: #f2f2f2;
  --muted-foreground: #57553f;
  --accent: #f2f2f2;
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --border-btn: #dabb18;
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.852 0.199 91.936);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.708 0 0);

  @variant dark {
    --background: #171512;
    --foreground: oklch(0.985 0 0);
    --card: #272521;
    --card-foreground: oklch(0.985 0 0);
    --popover: #36342f;
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.9152 0.1443 104.62);
    --primary-contrast: oklch(0.9152 0.1443 104.62);
    --primary-foreground: oklch(0.3192 0.0468 105.32);
    --secondary: #3d3d31;
    --secondary-foreground: oklch(0.985 0 0);
    --muted: #2e2c13;
    --muted-foreground: #a3a498;
    --accent: #44423e;
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --border-btn: color-mix(in oklab, var(--primary) 30%, transparent);
    --input: color-mix(in oklab, var(--primary) 30%, transparent);
    --ring: oklch(59.773% 0.01034 106.817);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar: #272521;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.9152 0.1443 104.62);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: #36342f;
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-contrast: var(--primary-contrast);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-border-btn: var(--border-btn);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-accent: var(--font-acc);
  --font-heading: var(--font-heading);
  --font-pixel: var(--font-pixel);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
